/* spacing utilities  */

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.section {
  padding: var(--section-padding);
}

.bg-primary {
  background-color: var(--background-primary);
}

.bg-brand-primary {
  background-color: var(--blue-200);
  position: relative;
  z-index: 0;
}
.bg-brand-primary::after {
  content: "";
  position: absolute;
  width: 40%;
  aspect-ratio: 1/1;

  background: linear-gradient(
    180deg,
    var(--blue-250) 0%,
    rgba(181, 226, 242, 0.2) 100%
  );
  z-index: -1;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  top: 0;
  right: 0;
  bottom: 0;
}

.bg-brand-secondary {
  background-color: var(--blue-100);
}

.bg-dark-blue {
  background-color: var(--blue-900);
  position: relative;
  z-index: 0;
}

.bg-dark-blue::after {
  content: "";
  position: absolute;
  width: 40%;
  background: linear-gradient(to bottom, var(--blue-500), var(--blue-900));
  z-index: -1;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  top: 0;
  right: 0;
  bottom: 0;
}

.hover-card {
  position: relative;
  z-index: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.hover-card:hover {
  background-color: var(--blue-100);
  box-shadow: var(--shadow-lg);
}

.hover-card:hover::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  aspect-ratio: 1/1;
  background: linear-gradient(0deg, var(--blue-250) 0%, var(--blue-50) 100%);
  clip-path: polygon(0 0, 0 100%, 100% 0);
  transition: all 0.5s ease-in-out;
}

/* Typography utilities  */

.stat-number {
  font-size: var(--font-size-stat-number-lg);
  line-height: var(--line-height-stat-number-lg);
}

.caption {
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  text-transform: uppercase;
}

.lg {
  font-size: 18px;
  line-height: 26px;
}

.heading {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  max-width: 690px;
  margin-bottom: 16px;
}

.heading-2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  max-width: 690px;
  margin-bottom: 16px;
}

.heading-3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  max-width: 690px;
  margin-bottom: 8px;
}

.heading-4 {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
  font-weight: 600;
  max-width: 690px;
  margin-bottom: 8px;
}

.heading-5 {
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
  font-weight: 600;
  max-width: 690px;
  margin-bottom: 8px;
}

.heading-6 {
  font-size: var(--font-size-h6);
  line-height: var(--line-height-h6);
  font-weight: 600;
  max-width: 690px;
  margin-bottom: 4px;
}

.sub-heading {
  font-size: var(--font-size-sub-heading);
  line-height: var(--line-height-sub-heading);
  color: var(--text-secondary);
  max-width: 690px;
}

/* Text utilities */

.text-line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 120px;
}

@media (max-width: 1024px) {
  .bg-brand-primary::after {
    width: 100%;
  }
}
