/* FAQ Section  */

.faq-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.faq-list {
  display: flex;
  gap: 128px;
}

.faq-item {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.faq-contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 768px) {
  .faq-list {
    flex-direction: column;
    gap: 48px;
  }
  .faq-item {
    width: 100%;
  }
}
