.hero-section {
  position: relative;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(to right, var(--blue-500), var(--blue-300)) 1;
}

.hero-content {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 10;
  padding-top: 80px;
  position: absolute;
}

.hero-actions {
  display: flex;
  gap: 16px;
  padding: 16px 0;
}

.hero-stats {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: end;
  padding-top: 140px;
}

.stat-item {
  background-color: var(--white);
  padding: 32px;
  width: 100%;
  position: relative;
}
.stat-item:first-child {
  height: 220px;
}
.stat-item:nth-child(2) {
  height: 320px;
}
.stat-item:nth-child(3) {
  height: 560px;
}

.stat-icon {
  position: absolute;
  right: 0;
  bottom: 0;
}
.stat-item:hover {
  background: linear-gradient(
      to bottom,
      rgb(0 110 158) 0%,
      rgba(0, 75, 110, 0) 100%
    ),
    url("/assets/image/camera.jpg");
  background-size: cover;
  background-position: center;
  color: var(--white);
}
.stat-item:hover img,
.stat-item:hover svg {
  display: none;
}
.stat-item:hover h6 {
  color: var(--white);
}

@media (max-width: 1024px) {
  .hero-section {
    padding-top: 64px;
  }

  .hero-content {
    padding-top: 0;
  }

  .hero-stats {
    padding-top: 270px;
  }

  .stat-number {
    font-size: var(--font-size-stat-number-md);
    line-height: var(--line-height-stat-number-md);
  }
}

@media (max-width: 768px) {
  .hero-content {
    position: static;
  }

  .hero-stats {
    flex-direction: column;
    position: static;
    padding-top: 8px;
    gap: 8px;
  }
  .stat-item {
    height: 100%;
    max-height: 128px;
    padding: 12px;
    gap: 2px;
  }

  .stat-icon {
    width: 100%;
    max-width: 140px;
    object-fit: contain;
  }
  .stat-icon svg {
    width: 100%;
    height: 112px;
  }
}
