.privacy-policy {
  width: 100%;
  max-width: 690px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.privacy-policy h3 {
  margin-bottom: 32px;
}

.privacy-policy h4 {
  margin-bottom: 24px;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .privacy-policy {
    max-width: 100%;
    gap: 24px;
  }
}
